@import "tailwindcss";
@theme {
    --text-color-primary: #fff;
    --bg-color-secondary: #1f1f1f;
    --bg-color-accent: #9333ea;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.shimmer {
    position: relative;
    overflow: hidden;
    background: #2d2d2d;
}

.shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.15) 50%,
        transparent 100%
    );
    animation: shimmer-move 1.4s infinite;
}

@keyframes shimmer-move {
    100% {
        transform: translateX(150%);
    }
}
